.venv
venv
.pytest_cache
__pycache__

node_modules

/autoeq
/gpui-toolkit
/math-audio
/sofa-reader
/sotf
/symphonia-add-ons
/target
/books

.tokensave
.DS_Store
.superpowers
/docs/superpowers
/index

.*#
.*~
*#
*~
