[submodule "sotf"]
	path = sotf
	url = https://github.com/pierreaubert/sotf
[submodule "autoeq"]
	path = autoeq
	url = https://github.com/pierreaubert/autoeq
[submodule "math-audio"]
	path = math-audio
	url = https://github.com/pierreaubert/math-audio
[submodule "gpui-toolkit"]
	path = gpui-toolkit
	url = https://github.com/pierreaubert/gpui-toolkit
[submodule "sofa-reader"]
	path = sofa-reader
	url = https://github.com/pierreaubert/sofa-reader
[submodule "symphonia-add-ons"]
	path = symphonia-add-ons
	url = https://github.com/pierreaubert/symphonia-add-ons
