buildbot==4.1.0
buildbot-worker==4.1.0
buildbot-www==4.1.0
buildbot-waterfall-view==4.1.0
buildbot-console-view==4.1.0
buildbot-grid-view==4.1.0
Twisted<24  # Buildbot 4.1 requires Twisted < 24
docker==7.1.0
